.song {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.songTopTen {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}
